.buget-body {
    background-color: #c1d4d6;
    border-radius: 15px;
}

.form-area {
    padding: 20px;
}

.section-area {
    border: 1px solid #d3ecef;
    background-color: #abcacd;
    border-radius: 8px;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.input-area {
    margin-bottom: 15px;
}

.form-area h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 35px;
}

.form-area label {
    font-size: 20px;
}

.form-area input {
    font-size: 18px;
    padding: 10px 20px;
}

.monthly-balance h5 {
    margin-bottom: 4px;
}

.expenses button {
    font-size: 18px;
    font-weight: 500;
}

.save-amount input[type="button"] {
    padding: 10px 29px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.save-area input[type="text"] {
    display: inline-block;
    width: 81%;
    padding: 10px;
    border-radius: 4px;
    border: none;
}